- name: Enable swap
  block:
    - name: Install package
      ansible.builtin.apt:
        name: dphys-swapfile
        state: present
        update_cache: true

    - name: Create configuration
      community.general.ini_file:
        path: /etc/dphys-swapfile
        section: ""
        option: "{{ item.key }}"
        value: "{{ item.value }}"
        no_extra_spaces: true
        owner: root
        group: root
        mode: 0644
      loop: "{{ swap_config | dict2items }}"

    - name: Create swap file
      ansible.builtin.command:
        cmd: dphys-swapfile setup
      register: swap_setup
      changed_when: "'generating swapfile' in swap_setup.stdout"

    - name: Activate swap
      ansible.builtin.command:
        cmd: dphys-swapfile swapon
      changed_when: false
  when: swap_enabled == true

- name: Disable swap
  block:
    - name: Deactivate swap
      ansible.builtin.command:
        cmd: dphys-swapfile swapoff
      changed_when: false
      ignore_errors: true

    - name: Remove swap file
      ansible.builtin.file:
        path: "{{ (swap_config['CONF_SWAPFILE'] | default(false)) | ternary(swap_config['CONF_SWAPFILE'], '/var/swap') }}"
        state: absent

    - name: Remove configuration
      ansible.builtin.file:
        path: /etc/dphys-swapfile
        state: absent

    - name: Remove package
      ansible.builtin.apt:
        name: dphys-swapfile
        state: absent
  when: swap_enabled == false
